$Dark_Navy: #261676;
$White: #FFF;
$Black: #000;
$Blue: #2463FF;
$Pink: #FE71FE;
$Violet: #7199FF;
$PiViolet_Gradiant: linear-gradient(to bottom, $Pink 0%,$Violet 100%),
linear-gradient(to bottom, $Pink 100%, $Violet 100%);
$Bg-Gradiant: linear-gradient(to bottom, #344aba 0%, #001479 100%),
linear-gradient(to bottom, #344aba 100%, #001479 83%);
$Purple: #887DC0;

