.game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-between;
    width: 80%;
    margin: 3rem;
    padding: 24px 100px;

    .header__container {

      display: flex;
      align-items: center;
      flex-direction: row;
      .back__btn__container {
        background-image: linear-gradient(to bottom, #fe71fe 0%, #7199ff 100%),
          linear-gradient(to bottom, #fe71fe 100%, #7199ff 100%);
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 0.0625rem solid #000000;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;
      }
  
      .logo__container {
        display: flex;
        flex: 1;
        justify-content: center;
      }
    }

    .game__title {
      font-size: 2rem;
      color: #fff;
    }
  
    .lives-progress {
      border-radius: 0.625rem;
      border: 0.25rem solid white;
      margin-right: 1rem;
      &::-webkit-progress-bar {
        background-color: #261676;
        color: #ffa;
      }
  
      &::-webkit-progress-value {
        background-color: white;
      }
    }
  }


  .alphabet__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
    padding: 1.5rem;

    .char__container {
      width: 109px;
      height: 109px;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      background-color: #2463ff;
      overflow: hidden;
      box-shadow: inset 0px 1px 0px 6px #3c74ff, inset 0px -2px 0px 3px #140e66;
      color: #fff;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }

    .word__container {
      width: 109px;
      align-self: stretch;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      background-color: #fff;
      color: #261676;
      font-size: 48px;
      line-height: 120%;
      font-family: Mouse Memoirs, system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      align-items: center;
      white-space: nowrap;
      flex-direction: column;
      cursor: pointer;

      &:hover:not(:disabled) {
        background-color: #3c74ff;
        color: #fff;
      }

      &:disabled {
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}
