@import '../src/common/breakpoints.scss';

body {
margin: 0;

main {
  width: 100%;
  background: url(./assets/images/background-desktop.svg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // #app-home, app-game, app-game-display {
  //   width: 100% !important;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  app-game-display {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

}

@media screen and (max-width: $medium) {
  main {
    min-width: 100%;
    // height: 100vh;
  }
}


}