@import '../../common/colors.scss';
@import '../../common/breakpoints.scss';

.content {
  width: 37rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  background-image: $Bg-Gradiant;
  opacity: 0.875;

  box-shadow: inset 0px 10px 10px 2px rgba(36, 99, 255, 1),
    inset 0px -20px 10px 0px rgba(20, 14, 102, 1);
  border-radius: 10%;
  border: 0.0625rem solid #000000;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  position: absolute;
  top: -8rem;
}

.play__btn__container {
  padding: 40px;
  width: 100px;
  background-image: $PiViolet_Gradiant;
  opacity: 1;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 0.0625rem solid #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}

.button {
  margin-top: 2rem;
  padding: 12px 64px;
  border-radius: 40px;
  background-color: $Blue;
  overflow: hidden;
  cursor: pointer;
  border-color: transparent;
  .hOWTOPLAY {
    color: #fff;
    font-size: 24px;
    line-height: 120%;
    font-family: Mouse Memoirs, system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: $medium) {
  .content {
    min-width: 80%;
  }
}
